/* For sticky change main -> body and .footer position to absolute */
/* For fixed change body -> main and .footer position to fixed */
html {
  position: relative;
  min-height: 100%;
}
main {
  margin-bottom: 3em; /* Margin bottom by footer height */
  position: relative;
}
body {
  position: relative;
}
.footer {
  height: 3em;
  line-height: 3em;
}
.footer * {
  color: #fff;
}
.footer a:hover {
  color: #fff;
}
.footer i.fa {
  color: #fff;
  font-size: 2em;
}
td {
  text-align: justify;
}
.bg-light-grey {
  background-color: #e2e2e2;
}